@import './main.scss';

body {
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  overflow: hidden;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.overflow {
  overflow: hidden;
}

.height {
  height: 100%;
}

.width {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-sub {
  flex: 1;
}

.flex-auto {
  flex: auto;
}

.flex-direction {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-start {
  align-items: flex-start;
}

.align-baseline {
  align-items: baseline;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}